body{
  background-color: #424242;
}
.object_container{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  height: 300px;
  border: border: 5px solid black;
}
